.classpath
.DS_Store
.idea
.project
.salesforce
.settings
.sfdx/
.tern-project
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
node_modules/
*.log
force-app/main/default/staticresources/vanilla/main.js
force-app/main/default/staticresources/react/main.css
force-app/main/default/staticresources/react/main.js
