.value {
  margin-left: 5px;
  padding: 2px;
  border:none;
  flex: 5;
}

.edit {
  margin-left: 5px;
  padding: 2px;
  border: none;
  color: white;
  border-bottom: 2px #FF3F91 solid;
  flex: 5;
  background-color: hotpink;
}

.dataTable{
  border: 1px solid red;
  padding: 5px;
  text-align: center;
}